<input type="color" list="colorPicker" id="colors" value="#F4F4F4" onchange="changeBackgroundColor()"></label>
<datalist id="colorPicker">
  <option value="#bfcdcd"></option>
  <option value="#E5CB9F"></option>
  <option value="#B4E197"></option>
  <option value="#d8e2dc"></option>
  <option value="#95d5b2"></option>
</datalist>