<!-- <footer> -->
    <div>
        <div class="footer">
            <div class="icon">
                <a href="https://github.com/pkanGitHub"><i class="fa-brands fa-github fa-2xl"></i></a>
                <a href="https://www.linkedin.com/in/phyllis-y-kan-a606881a4/"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
            </div>
            <p>© Made by Phyllis Kan 2022</p>
        </div>
    </div>
</body>
  <!-- javascript -->
<script type="text/javascript" src="/javascript/index.js"></script>
</html>
