<%- include('./partials/header.ejs'); %>
<div class="container">
        <div class="content">
            <div>
                <h2><%=bio.title%></h2>
                <div class="about-me">
                    <p>I am currently a sophomore at MIZZOU pursuing for IT degree. It actually took me 10 years to find this path.</p>
                    <p>
                        Back then, I got very depressed in school due to many factor, and I was told by a counselor that medication may help. However, I figured medication isn't really what I want. Instead, I dropped out of school and got my first part-time job at a family-own restaurant.
                        In here, I was inspired by my manager, and now a friend for 8 years. He is a very intelligent person. He went for CS major at MIZZOU. I love it when he gave me puzzles to solve on the free time. He also showed me what he learned in class, and that is the time I felt like </br>
                    </p>
                    <span>THIS IS IT!!! THIS IS WHAT I WANT TO DO!!</span></br>
                    <p>
                        I became very passionate with programming, and only want to learn to program. Therefore, I enrolled into a 10 months online coding bootcamp for software engineering at Flatiron School and graduated.
                    </p>
                    <p>Now, I am back in school so that I can get internship for real-world experience.</p>
    
                </div>
            </div>
        </div>
    <%- include('./partials/footer.ejs'); %>
</div>


</body>
</html>