<%- include('./partials/header.ejs'); %>
<div class="container">
    <div class="content">
        <img class="photo" src="<%=home.img%>">
        <div>
            <h2 class="home-title">Hello, I'm</h2>
            <div id="typewriter"></div><div id="cursor"></div>
        </div>
    </div>
    <%- include('./partials/footer.ejs'); %>